<html>

<head>
  <title>TrocaMoedas</title>
  <link rel="stylesheet" href="/estilos.css">
  <link rel="icon" href="/logo.png">
</head>

<body>
  <div class="areaLogo">
    <div class="areImg">
      <h1 class="textoLogo">Troca<a href="/" class="link"><img src="/logo.png" class="logo"
            alt="Troca Moedas"></a>Moedas</h1>
    </div>

  </div>


</html>